<app-navbar></app-navbar>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Semestre grupo</th>
        <th scope="col">Estado grupo</th>
        <th scope="col">Cupo grupo</th>
        <th scope="col">Número de estudiantes</th>
        <th scope="col">Actualizar - Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let g of grupos">
        <th> {{ g.semestre }} </th>
        <td> {{ g.estado }} </td>
        <td> {{ g.cupo_estudiantes }} </td>
        <td> {{ g.numero_estudiantes }} </td>
        <td> 
          <button class="btn btn-outline-secondary ms-3">
            <i class="fa fa-pen"></i>
          </button> 

          <button class="btn btn-outline-danger ms-5">
            <i class="fa fa-trash"></i>
          </button>

        </td>
      </tr>
    </tbody>
  </table>

