<app-navbar></app-navbar>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Id - Rol</th>
        <th scope="col">Nombre Rol</th>
        <th scope="col">Tipo Rol</th>
        <th scope="col">Actualizar - Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rol of roles">
        <th> {{ rol.id }} </th>
        <td> {{ rol.nombre_rol }} </td>
        <td> {{ rol.tipo_rol }} </td>
        <td> 
          <button class="btn btn-outline-secondary ms-3">
            <i class="fa fa-pen"></i>
          </button> 

          <button 
            (click)="eliminar(rol.id)"
            class="btn btn-outline-danger ms-5">
            <i class="fa fa-trash"></i>
          </button>

        </td>
      </tr>
    </tbody>
  </table>
