<app-navbar></app-navbar>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Codigo curso</th>
        <th scope="col">Estado</th>
        <th scope="col">Nombre curso</th>
        <th scope="col">Descripción</th>
        <th scope="col">Actualizar - Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let curso of cursos">
        <th> {{ curso.codigo_curso }} </th>
        <td> {{ curso.estado }} </td>
        <td> {{ curso.nombre_curso }} </td>
        <td> {{ curso.descripcion_curso }} </td>
        <td> 
          <button class="btn btn-outline-secondary ms-3">
            <i class="fa fa-pen"></i>
          </button> 

          <button 
            (click)="eliminar(curso.id)"
            class="btn btn-outline-danger ms-5">
            <i class="fa fa-trash"></i>
          </button>

        </td>
      </tr>
    </tbody>
  </table>

