<app-navbar></app-navbar>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre sede</th>
        <th scope="col">Latitud</th>
        <th scope="col">Longitud</th>
        <th scope="col">Actualizar - Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sede of sedes">
        <th> {{ sede.nombre_sede }} </th>
        <td> {{ sede.latitud }} </td>
        <td> {{ sede.longitud }} </td>
        <td> 
          <button class="btn btn-outline-secondary ms-3">
            <i class="fa fa-pen"></i>
          </button> 

          <button class="btn btn-outline-danger ms-5">
            <i class="fa fa-trash"></i>
          </button>

        </td>
      </tr>
    </tbody>
  </table>

