<app-navbar></app-navbar>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre membresia</th>
        <th scope="col">Estado membresia</th>
        <th scope="col">Duración membresia</th>
        <th scope="col">Precio membresia</th>
        <th scope="col">Actualizar - Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let m of membresias">
        <th> {{ m.nombre_membresia }} </th>
        <td> {{ m.estado }} </td>
        <td> {{ m.duracion }} </td>
        <td> {{ m.precio }} </td>
        <td> 
          <button class="btn btn-outline-secondary ms-3">
            <i class="fa fa-pen"></i>
          </button> 

          <button class="btn btn-outline-danger ms-5">
            <i class="fa fa-trash"></i>
          </button>

        </td>
      </tr>
    </tbody>
  </table>

